
<h3>Add Patent

    <ul class="breadcrumb">

        <li>

            <a ui-sref="app.home">Home</a>

        </li>

        <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}">

            <a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>

            <span ng-switch-when="true">{{state.title}}</span>

        </li>

    </ul>

</h3>

<section data-ng-controller="PatentsController">

    <div class="col-md-12">

        <form name="patentForm" data-ng-submit="create()" novalidate>
    
            <fieldset>

                <div class="row">

                    <div class="col-sm-6">

                        <div class="form-group">

                            <label class="control-label" for="client">Client</label>

                            <div class="controls">

                                <input type="text" data-ng-model="client" id="client" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="matter">Matter</label>

                            <div class="controls">

                                <input type="text" data-ng-model="matter" id="matter" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="inventor">Inventor</label>

                            <div class="controls">

                                <input type="text" data-ng-model="inventor" id="inventor" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="applicant">Applicant</label>

                            <div class="controls">

                                <input type="text" data-ng-model="applicant" id="applicant" class="form-control">

                            </div>

                        </div>

                        <!-- Assignee is owner in database!!!! -->
                        <div class="form-group">

                            <label class="control-label" for="owner">Assignee</label>

                            <div class="controls">

                                <input type="text" data-ng-model="owner" id="owner" class="form-control" required>

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="address">Address</label>

                            <div class="controls">

                                <input type="text" data-ng-model="address" id="address" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="nature">Title of Invention</label>

                            <div class="controls">

                                <input type="text" data-ng-model="nature" id="nature" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="country">Country</label>

                            <div class="controls">

                                <input type="text" data-ng-model="country" id="country" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="filingdate">Filing Date</label>

                            <div class="controls">

                                <input type="date" data-ng-model="filingDate" id="filingdate" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="issuedate">Issue Date</label>

                            <div class="controls">

                                <input type="date" data-ng-model="issueDate" id="issuedate" class="form-control">

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-6">
                        
                        <div class="form-group">

                            <label class="control-label" for="applicationnumber">Application No.</label>

                            <div class="controls">

                                <input type="text" data-ng-model="applicationNumber" id="applicationnumber" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="patentnumber">Patent No.</label>

                            <div class="controls">

                                <input type="text" data-ng-model="patentNumber" id="patentnumber" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="patentstatus">Patent Status</label>

                            <div class="controls">

                                <select data-ng-model="patentStatus" id="patentstatus" class="form-control" ng-options="statusItem.id as statusItem.name for statusItem in statusOptions">

                                  <option value="">-- choose status --</option>

                                </select>

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="statusdate">Status Date</label>

                            <div class="controls">

                                <input type="date"  ng-change="calculateDueDates(patentStatus, 'create')" data-ng-model="statusDate" id="statusdate" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="duedate">Due Date</label>

                            <div class="controls">

                                <input type="date" data-ng-model="dueDate" id="duedate" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="secondduedate">2nd Due Date</label>

                            <div class="controls">

                                <input type="date" data-ng-model="secondDueDate" id="secondduedate" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="thirdduedate">3rd Due Date</label>

                            <div class="controls">

                                <input type="date" data-ng-model="thirdDueDate" id="thirdduedate" class="form-control">

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="attorney">Attorney</label>

                            <div class="controls">

                                <select data-ng-model="attorney" id="attorney" class="form-control" ng-options="attorney.id as attorney.name for attorney in attorneys">

                                  <option value="">-- choose attorney --</option>

                                </select>

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label" for="comments">Comments</label>

                            <div class="controls">
                                <textarea cols="40" rows="4" type="text" data-ng-model="comments" id="comments" class="form-control"></textarea>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="form-group mt">

                    <input type="submit" class="btn btn-success">

                </div>

                <div data-ng-show="error" class="text-danger">

                    <strong data-ng-bind="error"></strong>

                </div>

            </fieldset>
    
        </form>

    </div>

</section>
