<!-- <section data-ng-controller="PatentsController">
    <div class="page-header">
        <h1>New Patent</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section> -->

<h3>New Patent
    <ul class="breadcrumb">
      <li><a ui-sref="app.home">Home</a>
      </li>
      <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
         <span ng-switch-when="true">{{state.title}}</span>
      </li>
    </ul>
</h3>
<section data-ng-controller="PatentsController">
    <div class="col-md-12">
        <form name="patentForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
<!--                 <div class="form-group" ng-class="{ 'has-error': patentForm.title.$dirty && patentForm.title.$invalid }">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                    </div>
                </div> -->
    <div class="form-group">
        <label class="control-label" for="owner">Owner</label>
        <div class="controls">
            <input type="text" data-ng-model="owner" id="owner" class="form-control" placeholder="Owner" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="nature">Nature</label>
        <div class="controls">
            <input type="text" data-ng-model="nature" id="nature" class="form-control" placeholder="Nature" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="country">Country</label>
        <div class="controls">
            <input type="text" data-ng-model="country" id="country" class="form-control" placeholder="Country" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="filingdate">Filing Date</label>
        <div class="controls">
            <input type="date" data-ng-model="filingDate" id="filingdate" class="form-control" placeholder="Filing Date" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="issuedate">Issue Date</label>
        <div class="controls">
            <input type="date" data-ng-model="issueDate" id="issuedate" class="form-control" placeholder="Issue Date" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="applicationnumber">Application No.</label>
        <div class="controls">
            <input type="text" data-ng-model="applicationNumber" id="applicationnumber" class="form-control" placeholder="Application Number" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="patentnumber">Patent No.</label>
        <div class="controls">
            <input type="text" data-ng-model="patentNumber" id="patentnumber" class="form-control" placeholder="Patent Number" required>
        </div>
    </div>
                <div class="form-group mt">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
