<section data-ng-controller="PatentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Patents</h1>
    </div>
    <table class='table table-striped table-hover table-condensed table-bordered'>
      <thead>
        <tr>
          <th>Owner</th>
          <th>Country</th>
          <th>Application Number</th>
          <th>Patent Number</th>
          <th>Patent Status</th>
          <th>Status Date</th>
          <th>Due Date</th>
          <th>Second Due Date</th>
          <th>Third Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="patent in patents" ng-click="listItemClick(patent._id);" >
            <td>{{ patent.owner }}</td>
            <td>{{ patent.country }}</td>
            <td>{{ patent.applicationNumber }}</td>
            <td>{{ patent.patentNumber }}</td>
            <td>{{ statusOptions[patent.patentStatus].name }}</td>
            <td>{{ patent.statusDate | date }}</td>
            <td>{{ patent.dueDate | date }}</td>
            <td>{{ patent.secondDueDate | date }}</td>
            <td>{{ patent.thirdDueDate | date }}</td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!patents.$resolved || patents.length">
    	No Patents yet, why don't you <a href="/#!/patents/create">create one</a>?
    </div>
</section>
