<h3>Add Copyright
    <ul class="breadcrumb">
      <li><a ui-sref="app.home">Home</a>
      </li>
      <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
         <span ng-switch-when="true">{{state.title}}</span>
      </li>
    </ul>
</h3>
<section data-ng-controller="CopyrightsController">
    <div class="col-md-12">
        <form name="copyrightForm" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': copyrightForm.title.$dirty && copyrightForm.title.$invalid }">
                            <label class="control-label" for="owner">Owner</label>
                            <div class="controls">
                                <input name="owner" type="text" data-ng-model="owner" id="owner" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="author">Author</label>
                            <div class="controls">
                                <input name="author" type="text" data-ng-model="author" id="author" class="form-control">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label" for="worktype">Work Type</label>
                            <div class="controls">
                                <select data-ng-model="workType" id="worktype" class="form-control" ng-options="workTypeItem.id as workTypeItem.name for workTypeItem in workTypeOptions">
                                  <option value=""> -- choose a type -- </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="worktitle">Work Title</label>
                            <div class="controls">
                                <input name="worktitle" type="text" data-ng-model="workTitle" id="worktitle" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="publisheddate">Published Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="publishedDate" id="publisheddate" class="form-control" placeholder="Published Date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="registrationdate">Registration Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="registrationDate" id="registrationdate" class="form-control" placeholder="Registration Date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="registrationnumber">Registration Number</label>
                            <div class="controls">
                                <input name="registrationnumber" type="text" data-ng-model="registrationNumber" id="registrationnumber" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="comments">Comments</label>
                            <div class="controls">
                                <textarea name="comments" data-ng-model="comments" id="comments" class="form-control" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt">
                    <input type="submit" class="btn btn-success">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
