<h3>Edit Copyright
    <ul class="breadcrumb">
      <li><a ui-sref="app.home">Home</a>
      </li>
      <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
         <span ng-switch-when="true">{{state.title}}</span>
      </li>
    </ul>
</h3>
<section data-ng-controller="CopyrightsController" data-ng-init="findOne()">
    <div class="col-md-12">
        <form name="copyrightForm" data-ng-submit="update(copyrightForm.$valid)" novalidate>
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error' : submitted && copyrightForm.title.$invalid}">
                            <label class="control-label" for="owner">Owner</label>
                            <div class="controls">
                                <input name="owner" type="text" data-ng-model="copyright.owner" id="owner" class="form-control" placeholder="Owner" required>
                            </div>
                            <div ng-show="submitted && copyrightForm.title.$invalid" class="help-block">
                                <p ng-show="copyrightForm.title.$error.required" class="text-danger">Owner is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="author">Author</label>
                            <div class="controls">
                                <input type="text" data-ng-model="copyright.author" id="author" class="form-control" placeholder="Author" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="worktype">Work Type</label>
                            <div class="controls">
                                <select data-ng-model="copyright.workType" id="worktype" class="form-control" ng-options="workTypeItem.id as workTypeItem.name for workTypeItem in workTypeOptions">
                                  <option value="">-- choose status --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="worktitle">Work Title</label>
                            <div class="controls">
                                <input type="text" data-ng-model="copyright.workTitle" id="worktitle" class="form-control" placeholder="Work Title" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="publisheddate">Published Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="copyright.publishedDate" id="publisheddate" class="form-control" placeholder="Published Date" format-date required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="registrationdate">Registration Date</label>
                            <div class="controls">
                                <input type="date" data-ng-model="copyright.registrationDate" id="registrationdate" class="form-control" placeholder="Registration Date" format-date required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="registrationnumber">Registration Number</label>
                            <div class="controls">
                                <input type="text" data-ng-model="copyright.registrationNumber" id="registrationnumber" class="form-control" placeholder="Registration Number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="comments">Comments</label>
                            <div class="controls">
                                <textarea name="comments" data-ng-model="copyright.comments" id="comments" class="form-control" cols="30" rows="10" placeholder="Comments" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt">
                    <input type="submit" value="Update" class="btn btn-success">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
