<h3>
	<div class="pull-right" data-ng-show="authentication.user._id == copyright.user._id">
		<a class="btn btn-primary" href="/#!/copyrights/{{copyright._id}}/edit">
			<i class="fa fa-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="fa fa-trash"></i>
		</a>
	</div>
	{{copyright.owner}}
	<ul class="breadcrumb">
	  <li><a ui-sref="app.home">Home</a>
	  </li>
	  <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
	     <span ng-switch-when="true">{{state.title}}</span>
	  </li>
	</ul>
</h3>
<section data-ng-init="findOne()">
</section>

<div class="row">
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-primary">
        <div class="panel-heading">Copyright</div>
        <div class="panel-body">
	        <div class="col-md-6">
	            <form class="form-horizontal p-20 ng-pristine ng-valid">
	               <div class="form-group">
	                  <div class="col-sm-4">Owner:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ copyright.owner }}</strong>
	                  </div>
	               </div>
	               <div class="form-group">
	                  <div class="col-sm-4">Author:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ copyright.author }}</strong>
	                  </div>
	               </div>
	               <div class="form-group">
	                  <div class="col-sm-4">Work Type:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ workTypeOptions[copyright.workType].name }}</strong>
	                  </div>
	               </div>
	               <div class="form-group">
	                  <div class="col-sm-4">Work Title:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ copyright.workTitle }}</strong>
	                  </div>
	               </div>
	            </form>
	        </div>
	        <div class="col-md-6">
	            <form class="form-horizontal p-20 ng-pristine ng-valid">
	               <div class="form-group">
	                  <div class="col-sm-4">Published Date:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ copyright.publishedDate | date }}</strong>
	                  </div>
	               </div>
	               <div class="form-group">
	                  <div class="col-sm-4">Registration Date:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ copyright.registrationDate | date }}</strong>
	                  </div>
	               </div>
	               <div class="form-group">
	                  <div class="col-sm-4">Registration Number:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ copyright.registrationNumber }}</strong>
	                  </div>
	               </div>
	               <div class="form-group">
	                  <div class="col-sm-4">Comments:</div>
	                  <div class="col-sm-8">
	                     <strong>{{ copyright.comments }}</strong>
	                  </div>
	               </div>
	            </form>
	        </div>
        </div>
        <div class="panel-footer">Created on {{copyright.created | date:'mediumDate'}} by {{copyright.user.displayName}}</div>
      </div>
      <!-- END panel-->
   </div>
</div>
